body {
    margin-top: 30px;
    
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}
.father{
 display:flex;
}
.circle{
    width: 50%;
}


.tree {
    
    margin-top: 50px;
    position: relative;

    
}

.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    margin-top: 8px;
    
}

.sephirah {
    margin-top: 30px;
    background-color: #e0e0e0;
    border: 1px solid #888;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    margin: 10px auto;
    position: relative;
    transition: background-color 0.3s;
    width: 55px;
    height: 55px;
    
}

.sephirah:hover {
    background-color: #c0c0c0;
}

#keter { margin-bottom: 40px; }
#hochma, #binah { margin-bottom: 20px; }
#hesed, #gvurah, #tiferet { margin-bottom: 20px; }
#netzach, #hod { margin-bottom: 20px; }
#yesod { margin-bottom: 20px; }
#maljut { margin-bottom: 20px; }